# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
*.swp
*.swo

# Coverage / testing
coverage/
.nyc_output/

# Build outputs
dist/
build/

# Optional for Git backups
*.orig

# PostgreSQL dumps
*.sql
*.dump
